body {
    background: #192229;

}
.navbar {
    background: #212E36;
}

.card-header{
    color: #EFF3F5;
}
.card-body{
    background: #C8CDD0;
}

.card{
    background: #2A3B47;
    border-color: #2A3B47;
}

#chat.card-body{
    background: #C8CDD0;
    width: auto; 
    height: 400px; 
    overflow-y: scroll;
}

#chat.card-body::-webkit-scrollbar{
    width: 7px;
    background: #192229;
}
#chat.card-body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: grey;
    border-right: 2px solid;
}

#contentWrap {
    display:none;
}

.error {
    color: red;
}

.whisper {
    color: gray;
    font-style: italic;
}

.btn {
    background: #52A5E0;
}